<%- include('../partials/head') %>
    <link rel="stylesheet" type="text/css" href="/css/indexHomePage.css">
    <%- include('../partials/head2') %>

        <body>
            <%- include('../partials/nav') %>
                <div class="container">
                    <h5 class="display-6 line cursorTitle" style="margin-left: 20%; text-align: center;">Olá bem vindo á Agenda Contabilidade !</h5>
                    <% posts.forEach(post => { %>
                        <div class="card mt-5" style="width: 600px;">
                            <div class="card-header">
                                <h5 class="display-6">
                                    <%= post.title %>
                                </h5>
                                <hr>
                            </div>
                            <div class="card-body">
                                <%-post.body%>
                            </div>
                        </div>
                        <br>
                        <% }); %>
                </div>
        </body>
        <%- include('../partials/footer.ejs') %>